# Brawl Star Stats Helper

## Key Features:
 - Each characters pick rate on a map
 - Each characters win rate on a map
 - Each characters head on comparison with given character
 - Predict win possibility on a given map with a given team

In [53]:
uid = 1000000

In [1]:
import json
battle_log = None
with open("blogs/2UG8JPPUU.json") as f:
    battle_log = json.load(f)

In [6]:
def get_meta_data(file:dict,meta_data:dict):
    for i in file:
        if isinstance(file[i],dict):
            meta_data[i] = list(file[i].keys())
            get_meta_data(file[i],meta_data)

In [7]:
test_data = dict()
get_meta_data(battle_log[0],test_data)

In [11]:
test_data['battleLog'] =list( battle_log[0].keys())

In [14]:
test_data

{'battle': ['duration',
  'mode',
  'result',
  'starPlayer',
  'teams',
  'trophyChange',
  'type'],
 'starPlayer': ['brawler', 'name', 'tag'],
 'brawler': ['id', 'name', 'power', 'trophies'],
 'event': ['id', 'map', 'mode'],
 'battleLog': ['battle', 'battleTime', 'event']}

In [42]:
with open("blogs/meta_data.txt","w+") as f:
    f.write(json.dumps(test_data))
    f.close()

In [15]:
meta_data = test_data

In [16]:
import pandas as pd
event_table = pd.DataFrame(columns=test_data["event"])
for i in range(len(battle_log)):
    temp_df = pd.Series(battle_log[i]["event"])
    event_table.loc[len(event_table)] = temp_df

In [17]:
event_table.to_csv("data/event_table.csv",index=False)

In [18]:
event_table

          id          map       mode
0   15000236    Bank Shot  brawlBall
1   15000236    Bank Shot  brawlBall
2   15000345  Red Herring    gemGrab
3   15000236    Bank Shot  brawlBall
4   15000236    Bank Shot  brawlBall
5   15000236    Bank Shot  brawlBall
6   15000236    Bank Shot  brawlBall
7   15000236    Bank Shot  brawlBall
8   15000236    Bank Shot  brawlBall
9   15000236    Bank Shot  brawlBall
10  15000236    Bank Shot  brawlBall
11  15000236    Bank Shot  brawlBall
12  15000236    Bank Shot  brawlBall
13  15000236    Bank Shot  brawlBall
14  15000236    Bank Shot  brawlBall
15  15000236    Bank Shot  brawlBall
16  15000236    Bank Shot  brawlBall
17  15000236    Bank Shot  brawlBall
18  15000236    Bank Shot  brawlBall
19  15000236    Bank Shot  brawlBall
20  15000236    Bank Shot  brawlBall
21  15000236    Bank Shot  brawlBall
22  15000236    Bank Shot  brawlBall
23  15000236    Bank Shot  brawlBall
24  15000236    Bank Shot  brawlBall

In [20]:
brawler_table = pd.DataFrame(columns=["id","name","power","trophies"])

In [23]:
for i in range(len(battle_log)):
    brawler_table.loc[len(brawler_table)] = (battle_log[i]["battle"]["starPlayer"]["brawler"])

In [48]:
brawler_table.to_csv("data/brawler_table.csv",index=False)

In [272]:
brawler_table

          id      name  power  trophies
25  16000011    MORTIS     10       766
1   16000032       MAX     10       716
2   16000009  DYNAMIKE     10       756
3   16000011    MORTIS     10       895
4   16000011    MORTIS     10       765
5   16000011    MORTIS     10       699
6   16000000    SHELLY     10       705
7   16000017      TARA     10       797
8   16000008      NITA     10       797
9   16000026      BIBI     10       826
10  16000018    DARRYL     10       808
11  16000030       EMZ     10       721
12  16000011    MORTIS     10       728
13  16000011    MORTIS     10       719
14  16000011    MORTIS     10       711
15  16000026      BIBI      9       679
16  16000017      TARA     10       727
17  16000011    MORTIS     10       719
18  16000002      BULL     10       790
19  16000004      RICO     10       820
20  16000046     BELLE     10       766
21  16000018    DARRYL     10       828
22  16000026      BIBI     10       834
23  16000018    DARRYL     10       814
24  16000009  DYNAMIKE     10       802

In [72]:
player_table = pd.DataFrame(columns=["id","name","tag"])
pid = 100000
player_table

Empty DataFrame
Columns: [id, name, tag]
Index: []

In [73]:
allBrawler_table = pd.DataFrame(columns=meta_data["brawler"])

In [74]:
allBrawler_table

Empty DataFrame
Columns: [id, name, power, trophies]
Index: []

In [ ]:
teams = pd.DataFrame(columns=["bra"])

In [70]:
for i in (battle_log[0]["battle"]["teams"]):
    for j in i:
        print(j)

{'brawler': {'id': 16000001, 'name': 'COLT', 'power': 10, 'trophies': 771}, 'name': 'Ã©Â¾Â\x99 | Ã\x89Â\x96Ã\x8aÂ\x81Ã\x89Â\x91Ã\x89Â\xa0Ã\x89Â¸Ã\x89Â³Ã°Â\x9fÂ\x90Â\x89', 'tag': '#P9PGPRRQ'}
{'brawler': {'id': 16000026, 'name': 'BIBI', 'power': 10, 'trophies': 756}, 'name': 'AÃ\x8aÂ\x80Ã\x89ÂªÃ¡Â´Â\x8fNatsuÃ°Â\x9fÂ\x92Â\x9aÃ\x8bÂ¢Ã¡ÂµÂ\x96Ã¢Â\x81Â±Ã¡ÂµÂ\x8f', 'tag': '#29UQVG8Y8'}
{'brawler': {'id': 16000032, 'name': 'MAX', 'power': 10, 'trophies': 716}, 'name': 'MZ may', 'tag': '#9CJJU8P9'}
{'brawler': {'id': 16000009, 'name': 'DYNAMIKE', 'power': 10, 'trophies': 764}, 'name': 'Ã¨Â®Â\x8a|Mr.JhandryÃ¢Â\x99Â¨Ã¯Â¸Â\x8f', 'tag': '#QR82GQG'}
{'brawler': {'id': 16000004, 'name': 'RICO', 'power': 10, 'trophies': 659}, 'name': 'xnicocruck1', 'tag': '#2UG8JPPUU'}
{'brawler': {'id': 16000011, 'name': 'MORTIS', 'power': 10, 'trophies': 767}, 'name': 'Schmidde', 'tag': '#P0LUCJ8JU'}

In [103]:
battleLog_table = pd.DataFrame(columns=["battle_id","battleTime","event"])
battle_table = pd.DataFrame(columns=meta_data["battle"])

In [93]:
battle_log[0]["battle"].keys()

dict_keys(['duration', 'mode', 'result', 'starPlayer', 'teams', 'trophyChange', 'type'])

In [98]:
battle_log[0]["battleTime"]

'20210529T170359.000Z'

In [104]:
bid = 1300000
for i in range(len(battle_log)):
    battle_dict = dict()
    battle_dict["battle_id"] = bid
    battle_dict["battleTime"] = battle_log[i]["battleTime"]
    battle_dict["event"]  = battle_log[i]["event"]["id"]


    battle_table_dict = dict()
    battle_table_dict["id"] = bid
    for j in battle_log[i]["battle"]:
        battle_table_dict[j] = battle_log[i]["battle"][j]

    battleLog_table.loc[len(battleLog_table)] = battle_dict
    battle_table.loc[len(battle_table)] = battle_table_dict
    
    bid+=1

In [105]:
battle_table.head(6)

,duration,mode,result,starPlayer,teams,trophyChange,type,id
0,60,brawlBall,defeat,"{'brawler': {'id': 16000032, 'name': 'MAX', 'p...","[[{'brawler': {'id': 16000001, 'name': 'COLT',...",-7,ranked,1300000
1,79,brawlBall,victory,"{'brawler': {'id': 16000009, 'name': 'DYNAMIKE...","[[{'brawler': {'id': 16000004, 'name': 'RICO',...",8,ranked,1300001
2,89,gemGrab,defeat,"{'brawler': {'id': 16000011, 'name': 'MORTIS',...","[[{'brawler': {'id': 16000044, 'name': 'COLONE...",-7,ranked,1300002
3,150,brawlBall,defeat,"{'brawler': {'id': 16000011, 'name': 'MORTIS',...","[[{'brawler': {'id': 16000009, 'name': 'DYNAMI...",-7,ranked,1300003
4,110,brawlBall,defeat,"{'brawler': {'id': 16000011, 'name': 'MORTIS',...","[[{'brawler': {'id': 16000012, 'name': 'CROW',...",-5,ranked,1300004
5,150,brawlBall,victory,"{'brawler': {'id': 16000000, 'name': 'SHELLY',...","[[{'brawler': {'id': 16000000, 'name': 'SHELLY...",8,ranked,1300005

In [106]:
battleLog_table.head(6)

   battle_id            battleTime     event
0    1300000  20210529T170359.000Z  15000236
1    1300001  20210529T170243.000Z  15000236
2    1300002  20210529T170058.000Z  15000345
3    1300003  20210529T165647.000Z  15000236
4    1300004  20210529T153501.000Z  15000236
5    1300005  20210529T153253.000Z  15000236

In [107]:
battleLog_table.to_csv("data/battleLog.csv",index=False)

In [124]:
brawler_table.loc["starPlayer"]

KeyError: 'starPlayer'

In [133]:
starPlayer_table = pd.DataFrame(columns=["id","brawlerId","brawlerTrophies","brawlerPower","name","tag"])
uid= 1000000
for i in range(len(battle_log)):
        temp_dict = dict()
        temp_dict["id"] = uid
        temp_dict["brawlerId"] = battle_table.loc[i,"starPlayer"]["brawler"]["id"]
        temp_dict["brawlerTrophies"] = battle_table.loc[i,"starPlayer"]["brawler"]["trophies"]
        temp_dict["brawlerPower"] = battle_table.loc[i,"starPlayer"]["brawler"]["power"]
        temp_dict["name"] = battle_table.loc[i,"starPlayer"]["name"].encode("utf-16")
        temp_dict["tag"] = battle_table.loc[i,"starPlayer"]["tag"]
        starPlayer_table.loc[(len(starPlayer_table))] = temp_dict

        battle_table.loc[i,"starPlayer_id"] = uid
        uid+=1
starPlayer_table["name"] = starPlayer_table["name"].str.decode("utf-16")

In [138]:
battle_table["starPlayer_id"] = battle_table["starPlayer_id"].apply(lambda x: int(x))

In [140]:
battle_table.head(5)

,duration,mode,result,starPlayer,teams,trophyChange,type,id,starPlayer_id
0,60,brawlBall,defeat,"{'brawler': {'id': 16000032, 'name': 'MAX', 'p...","[[{'brawler': {'id': 16000001, 'name': 'COLT',...",-7,ranked,1300000,1000000
1,79,brawlBall,victory,"{'brawler': {'id': 16000009, 'name': 'DYNAMIKE...","[[{'brawler': {'id': 16000004, 'name': 'RICO',...",8,ranked,1300001,1000001
2,89,gemGrab,defeat,"{'brawler': {'id': 16000011, 'name': 'MORTIS',...","[[{'brawler': {'id': 16000044, 'name': 'COLONE...",-7,ranked,1300002,1000002
3,150,brawlBall,defeat,"{'brawler': {'id': 16000011, 'name': 'MORTIS',...","[[{'brawler': {'id': 16000009, 'name': 'DYNAMI...",-7,ranked,1300003,1000003
4,110,brawlBall,defeat,"{'brawler': {'id': 16000011, 'name': 'MORTIS',...","[[{'brawler': {'id': 16000012, 'name': 'CROW',...",-5,ranked,1300004,1000004

In [136]:
starPlayer_table.head()

,id,brawlerId,brawlerTrophies,brawlerPower,name,tag
0,1000000,16000032,716,10,MZ may,#9CJJU8P9
1,1000001,16000009,756,10,Ã¨Â®Â|Mr.JhandryÃ¢ÂÂ¨Ã¯Â¸Â,#QR82GQG
2,1000002,16000011,895,10,Ã¢ÂÂ¨Ã¯Â¸ÂNeÃÂ¸HÃ¢ÂÂÃ¯Â¸Â,#C8G82YL8
3,1000003,16000011,765,10,Alter,#92PCPQ0CY
4,1000004,16000011,699,10,KFD|AarOn05|Ã°ÂÂÂªÃ¯Â¸Â,#2C2L9Y8UV

In [141]:
starPlayer_table.to_csv("data/starPlayer_table.csv",index=False)

In [142]:
battle_table.loc[0,"teams"]

[[{'brawler': {'id': 16000001, 'name': 'COLT', 'power': 10, 'trophies': 771},
   'name': 'Ã©Â¾Â\x99 | Ã\x89Â\x96Ã\x8aÂ\x81Ã\x89Â\x91Ã\x89Â\xa0Ã\x89Â¸Ã\x89Â³Ã°Â\x9fÂ\x90Â\x89',
   'tag': '#P9PGPRRQ'},
  {'brawler': {'id': 16000026, 'name': 'BIBI', 'power': 10, 'trophies': 756},
   'name': 'AÃ\x8aÂ\x80Ã\x89ÂªÃ¡Â´Â\x8fNatsuÃ°Â\x9fÂ\x92Â\x9aÃ\x8bÂ¢Ã¡ÂµÂ\x96Ã¢Â\x81Â±Ã¡ÂµÂ\x8f',
   'tag': '#29UQVG8Y8'},
  {'brawler': {'id': 16000032, 'name': 'MAX', 'power': 10, 'trophies': 716},
   'name': 'MZ may',
   'tag': '#9CJJU8P9'}],
 [{'brawler': {'id': 16000009,
    'name': 'DYNAMIKE',
    'power': 10,
    'trophies': 764},
   'name': 'Ã¨Â®Â\x8a|Mr.JhandryÃ¢Â\x99Â¨Ã¯Â¸Â\x8f',
   'tag': '#QR82GQG'},
  {'brawler': {'id': 16000004, 'name': 'RICO', 'power': 10, 'trophies': 659},
   'name': 'xnicocruck1',
   'tag': '#2UG8JPPUU'},
  {'brawler': {'id': 16000011, 'name': 'MORTIS', 'power': 10, 'trophies': 767},
   'name': 'Schmidde',
   'tag': '#P0LUCJ8JU'}]]

In [160]:
player_battle_log = pd.DataFrame(columns=["brawlerId","brawlerPower","brawlerTrophies","playerName","tag","playerMatchId"])
player_battle_log

Empty DataFrame
Columns: [brawlerId, brawlerPower, brawlerTrophies, playerName, tag, playerMatchId]
Index: []

In [161]:
pmid = 3200000
for i in range(len(battle_table)):
    teams = battle_table.loc[i,"teams"]
    teams_hash = dict()
    t=0
    for team in teams:
        temp_dict = dict()
        team_data = []
        for player in (team):
            temp_dict["brawlerId"] = player["brawler"]["id"]
            temp_dict["brawlerPower"] = player["brawler"]["power"]
            temp_dict["brawlerTrophies"] = player["brawler"]["trophies"]
            temp_dict["playerName"] = player["name"]
            temp_dict["tag"] = player["tag"]
            temp_dict["playerMatchId"] = pmid
            
            team_data.append(pmid)
            player_battle_log.loc[len(player_battle_log)] = (temp_dict)
            pmid+=1
        teams_hash[f"team_{t}"]=(team_data)
        t+=1
    battle_table.loc[i,"teams_data"] = [teams_hash]

/tmp/ipykernel_2148/251839758.py:22: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '{'team_0': [3200000, 3200001, 3200002], 'team_1': [3200003, 3200004, 3200005]}' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  battle_table.loc[i,"teams_data"] = [teams_hash]

In [162]:
player_battle_log

,brawlerId,brawlerPower,brawlerTrophies,playerName,tag,playerMatchId
0,16000001,10,771,Ã©Â¾Â | ÃÂÃÂÃÂÃÂ ÃÂ¸ÃÂ³Ã°ÂÂÂ,#P9PGPRRQ,3200000
1,16000026,10,756,AÃÂÃÂªÃ¡Â´ÂNatsuÃ°ÂÂÂÃÂ¢Ã¡ÂµÂÃ¢ÂÂ±Ã¡...,#29UQVG8Y8,3200001
2,16000032,10,716,MZ may,#9CJJU8P9,3200002
3,16000009,10,764,Ã¨Â®Â|Mr.JhandryÃ¢ÂÂ¨Ã¯Â¸Â,#QR82GQG,3200003
4,16000004,10,659,xnicocruck1,#2UG8JPPUU,3200004
...,...,...,...,...,...,...
145,16000011,10,660,predaxion B.S.,#8CGCR98CL,3200145
146,16000006,10,745,ST|HURRICANE Ã°ÂÂÂ,#2QJVLGPG0,3200146
147,16000011,10,766,deggio,#20JRRPG2L,3200147
148,16000017,10,748,Sammcv,#YY2PYQ9C,3200148
149,16000006,10,743,MB|PÃÂÃ¡Â´ÂÃÂÃ¡Â´ÂÃÂ´ÃÂ¢Ã¡Â´ÂÃ¢ÂÂªÃ°...,#GY9UJLC8,3200149

In [165]:
battle_table.loc[0,"teams"]

[[{'brawler': {'id': 16000001, 'name': 'COLT', 'power': 10, 'trophies': 771},
   'name': 'Ã©Â¾Â\x99 | Ã\x89Â\x96Ã\x8aÂ\x81Ã\x89Â\x91Ã\x89Â\xa0Ã\x89Â¸Ã\x89Â³Ã°Â\x9fÂ\x90Â\x89',
   'tag': '#P9PGPRRQ'},
  {'brawler': {'id': 16000026, 'name': 'BIBI', 'power': 10, 'trophies': 756},
   'name': 'AÃ\x8aÂ\x80Ã\x89ÂªÃ¡Â´Â\x8fNatsuÃ°Â\x9fÂ\x92Â\x9aÃ\x8bÂ¢Ã¡ÂµÂ\x96Ã¢Â\x81Â±Ã¡ÂµÂ\x8f',
   'tag': '#29UQVG8Y8'},
  {'brawler': {'id': 16000032, 'name': 'MAX', 'power': 10, 'trophies': 716},
   'name': 'MZ may',
   'tag': '#9CJJU8P9'}],
 [{'brawler': {'id': 16000009,
    'name': 'DYNAMIKE',
    'power': 10,
    'trophies': 764},
   'name': 'Ã¨Â®Â\x8a|Mr.JhandryÃ¢Â\x99Â¨Ã¯Â¸Â\x8f',
   'tag': '#QR82GQG'},
  {'brawler': {'id': 16000004, 'name': 'RICO', 'power': 10, 'trophies': 659},
   'name': 'xnicocruck1',
   'tag': '#2UG8JPPUU'},
  {'brawler': {'id': 16000011, 'name': 'MORTIS', 'power': 10, 'trophies': 767},
   'name': 'Schmidde',
   'tag': '#P0LUCJ8JU'}]]

In [170]:
battle_table.columns

Index([     'duration',          'mode',        'result',    'starPlayer',
               'teams',  'trophyChange',          'type',            'id',
       'starPlayer_id',         3200003,         3200004,         3200005,
           'team_data',    'teams_data',       'teams_d'],
      dtype='object')

In [179]:
clean_battle_data = battle_table.drop(columns=["teams_d",3200003,3200004,3200005,"team_data"])

In [181]:
clean_battle_data.head(5)

,duration,mode,result,starPlayer,teams,trophyChange,type,id,starPlayer_id,teams_data
0,60,brawlBall,defeat,"{'brawler': {'id': 16000032, 'name': 'MAX', 'p...","[[{'brawler': {'id': 16000001, 'name': 'COLT',...",-7,ranked,1300000,1000000,"{'team_0': [3200000, 3200001, 3200002], 'team_..."
1,79,brawlBall,victory,"{'brawler': {'id': 16000009, 'name': 'DYNAMIKE...","[[{'brawler': {'id': 16000004, 'name': 'RICO',...",8,ranked,1300001,1000001,"[{'team_0': [3200006, 3200007, 3200008], 'team..."
2,89,gemGrab,defeat,"{'brawler': {'id': 16000011, 'name': 'MORTIS',...","[[{'brawler': {'id': 16000044, 'name': 'COLONE...",-7,ranked,1300002,1000002,"[{'team_0': [3200012, 3200013, 3200014], 'team..."
3,150,brawlBall,defeat,"{'brawler': {'id': 16000011, 'name': 'MORTIS',...","[[{'brawler': {'id': 16000009, 'name': 'DYNAMI...",-7,ranked,1300003,1000003,"[{'team_0': [3200018, 3200019, 3200020], 'team..."
4,110,brawlBall,defeat,"{'brawler': {'id': 16000011, 'name': 'MORTIS',...","[[{'brawler': {'id': 16000012, 'name': 'CROW',...",-5,ranked,1300004,1000004,"[{'team_0': [3200024, 3200025, 3200026], 'team..."

In [186]:
clean_battle_data.loc[0,"teams"]

[[{'brawler': {'id': 16000001, 'name': 'COLT', 'power': 10, 'trophies': 771},
   'name': 'Ã©Â¾Â\x99 | Ã\x89Â\x96Ã\x8aÂ\x81Ã\x89Â\x91Ã\x89Â\xa0Ã\x89Â¸Ã\x89Â³Ã°Â\x9fÂ\x90Â\x89',
   'tag': '#P9PGPRRQ'},
  {'brawler': {'id': 16000026, 'name': 'BIBI', 'power': 10, 'trophies': 756},
   'name': 'AÃ\x8aÂ\x80Ã\x89ÂªÃ¡Â´Â\x8fNatsuÃ°Â\x9fÂ\x92Â\x9aÃ\x8bÂ¢Ã¡ÂµÂ\x96Ã¢Â\x81Â±Ã¡ÂµÂ\x8f',
   'tag': '#29UQVG8Y8'},
  {'brawler': {'id': 16000032, 'name': 'MAX', 'power': 10, 'trophies': 716},
   'name': 'MZ may',
   'tag': '#9CJJU8P9'}],
 [{'brawler': {'id': 16000009,
    'name': 'DYNAMIKE',
    'power': 10,
    'trophies': 764},
   'name': 'Ã¨Â®Â\x8a|Mr.JhandryÃ¢Â\x99Â¨Ã¯Â¸Â\x8f',
   'tag': '#QR82GQG'},
  {'brawler': {'id': 16000004, 'name': 'RICO', 'power': 10, 'trophies': 659},
   'name': 'xnicocruck1',
   'tag': '#2UG8JPPUU'},
  {'brawler': {'id': 16000011, 'name': 'MORTIS', 'power': 10, 'trophies': 767},
   'name': 'Schmidde',
   'tag': '#P0LUCJ8JU'}]]

In [185]:
player_battle_log[player_battle_log["playerMatchId"].isin(clean_battle_data.loc[0,"teams_data"]["team_0"])]

,brawlerId,brawlerPower,brawlerTrophies,playerName,tag,playerMatchId
0,16000001,10,771,Ã©Â¾Â | ÃÂÃÂÃÂÃÂ ÃÂ¸ÃÂ³Ã°ÂÂÂ,#P9PGPRRQ,3200000
1,16000026,10,756,AÃÂÃÂªÃ¡Â´ÂNatsuÃ°ÂÂÂÃÂ¢Ã¡ÂµÂÃ¢ÂÂ±Ã¡...,#29UQVG8Y8,3200001
2,16000032,10,716,MZ may,#9CJJU8P9,3200002

In [197]:
clean_battle_data["teams_data"]=clean_battle_data["teams_data"].apply(lambda x: [x] if isinstance(x,dict) else x)

In [201]:
clean_battle_data.loc[0,"teams_data"]

[{'team_0': [3200000, 3200001, 3200002],
  'team_1': [3200003, 3200004, 3200005]}]

In [270]:
def merge_with_teams_data(battle_data:pd.DataFrame,player_battle_log:pd.DataFrame):
    left_cols = list(battle_data.columns)
    left_cols.remove("teams_data")
    right_cols = list(player_battle_log.columns)
    resulting_cols = left_cols+right_cols
    merged_data_frame = pd.DataFrame(columns=resulting_cols)
    for i in range(len(battle_data)):
        keys = battle_data.loc[i,"teams_data"][0].keys()
        for key in keys:
            for player in battle_data.loc[i,"teams_data"][0][key]:
                idx = len(merged_data_frame)
                # print(type(battle_data.loc[i,left_cols]))
                # print(pd.concat([battle_data.loc[i,left_cols],player_battle_log[player_battle_log["playerMatchId"]==player]],axis=1).columns)
                # print(merged_data_frame.columns)
                merged_data_frame.loc[idx] = battle_data.loc[i,left_cols]
                for col in right_cols:
                    merged_data_frame.loc[idx,col] =  (player_battle_log[player_battle_log["playerMatchId"]==player][col].values[0])
    
    return merged_data_frame

In [271]:
merge_with_teams_data(clean_battle_data,player_battle_log)

,duration,mode,result,starPlayer,teams,trophyChange,type,id,starPlayer_id,brawlerId,brawlerPower,brawlerTrophies,playerName,tag,playerMatchId
0,60,brawlBall,defeat,"{'brawler': {'id': 16000032, 'name': 'MAX', 'p...","[[{'brawler': {'id': 16000001, 'name': 'COLT',...",-7,ranked,1300000,1000000,16000001,10,771,Ã©Â¾Â | ÃÂÃÂÃÂÃÂ ÃÂ¸ÃÂ³Ã°ÂÂÂ,#P9PGPRRQ,3200000
1,60,brawlBall,defeat,"{'brawler': {'id': 16000032, 'name': 'MAX', 'p...","[[{'brawler': {'id': 16000001, 'name': 'COLT',...",-7,ranked,1300000,1000000,16000026,10,756,AÃÂÃÂªÃ¡Â´ÂNatsuÃ°ÂÂÂÃÂ¢Ã¡ÂµÂÃ¢ÂÂ±Ã¡...,#29UQVG8Y8,3200001
2,60,brawlBall,defeat,"{'brawler': {'id': 16000032, 'name': 'MAX', 'p...","[[{'brawler': {'id': 16000001, 'name': 'COLT',...",-7,ranked,1300000,1000000,16000032,10,716,MZ may,#9CJJU8P9,3200002
3,60,brawlBall,defeat,"{'brawler': {'id': 16000032, 'name': 'MAX', 'p...","[[{'brawler': {'id': 16000001, 'name': 'COLT',...",-7,ranked,1300000,1000000,16000009,10,764,Ã¨Â®Â|Mr.JhandryÃ¢ÂÂ¨Ã¯Â¸Â,#QR82GQG,3200003
4,60,brawlBall,defeat,"{'brawler': {'id': 16000032, 'name': 'MAX', 'p...","[[{'brawler': {'id': 16000001, 'name': 'COLT',...",-7,ranked,1300000,1000000,16000004,10,659,xnicocruck1,#2UG8JPPUU,3200004
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
145,150,brawlBall,defeat,"{'brawler': {'id': 16000011, 'name': 'MORTIS',...","[[{'brawler': {'id': 16000023, 'name': 'LEON',...",-8,ranked,1300024,1000024,16000011,10,660,predaxion B.S.,#8CGCR98CL,3200145
146,150,brawlBall,defeat,"{'brawler': {'id': 16000011, 'name': 'MORTIS',...","[[{'brawler': {'id': 16000023, 'name': 'LEON',...",-8,ranked,1300024,1000024,16000006,10,745,ST|HURRICANE Ã°ÂÂÂ,#2QJVLGPG0,3200146
147,150,brawlBall,defeat,"{'brawler': {'id': 16000011, 'name': 'MORTIS',...","[[{'brawler': {'id': 16000023, 'name': 'LEON',...",-8,ranked,1300024,1000024,16000011,10,766,deggio,#20JRRPG2L,3200147
148,150,brawlBall,defeat,"{'brawler': {'id': 16000011, 'name': 'MORTIS',...","[[{'brawler': {'id': 16000023, 'name': 'LEON',...",-8,ranked,1300024,1000024,16000017,10,748,Sammcv,#YY2PYQ9C,3200148
149,150,brawlBall,defeat,"{'brawler': {'id': 16000011, 'name': 'MORTIS',...","[[{'brawler': {'id': 16000023, 'name': 'LEON',...",-8,ranked,1300024,1000024,16000006,10,743,MB|PÃÂÃ¡Â´ÂÃÂÃ¡Â´ÂÃÂ´ÃÂ¢Ã¡Â´ÂÃ¢ÂÂªÃ°...,#GY9UJLC8,3200149